#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.task-completed {
  text-decoration: line-through;
  color: #999;
}

ion-button {
  --padding-start: 10px;
  --padding-end: 10px;
}

/* Estilos para el toolbar de categorías */
.category-filter-toolbar {
  --background: var(--ion-color-light);
  --border-width: 0;
  padding-bottom: 5px;
  position: relative;

  .category-scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .category-scroll-container {
    white-space: nowrap;
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Mejora el rendimiento del scroll en iOS */

    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .category-buttons-container {
    display: flex;
    gap: 8px;
    padding: 0 5px;
  }

  ion-chip {
    cursor: pointer;
    --border-radius: 20px;
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    font-size: 0.9em;
    flex-shrink: 0;
  }

  .selected-category {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    font-weight: bold;
    border-color: var(--ion-color-primary);
  }

  /* Estilos y visibilidad de los botones de scroll */
  .scroll-button {
    --padding-start: 0;
    --padding-end: 0;
    --min-width: 40px;
    --color: var(--ion-color-medium);
    z-index: 10;
    display: none;

    &.left {
      margin-right: 5px;
    }
    &.right {
      margin-left: 5px;
    }
  }

  // Media query para mostrar los botones y ocultar la barra de scroll en desktop
  @media (min-width: 768px) {
    // Desktop view
    .scroll-button {
      display: block;
    }

    .category-scroll-container {
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

/* Estilos para el botón de categorías y el tooltip */
.category-button {
  position: relative;
  overflow: visible;

  .tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--ion-color-dark);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, bottom 0.3s ease;
    z-index: 100;
  }

  &:hover .tooltip {
    opacity: 1;
    bottom: -25px;
  }
}
